*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: #45badd;
    height: 100vh;
    width: 100vw;
}
#h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url('./robotgif.gif');
    background-size: contain;
    background-position:left center;
    background-repeat: no-repeat;
}
#btn{
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: #ff3482;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
#btn:hover{
    filter: brightness(95%);    
}
#btn:active{
    transform: scale(0.98);
}
#btn:disabled{
    cursor: pointer;
    filter: brightness(30%);
}